/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 60px;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 50px;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 18px;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.content-wrapper li {
  font-size: 16px;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -18px;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-arrow {
  background: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.content-wrapper {
  /* Go from zero to full opacity */
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper h3 {
  font-size: 2.6rem;
  font-weight: 400;
}

.content-wrapper h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.content-wrapper h5 {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.content-wrapper .button-cta {
  background-color: #004098;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 14px;
  border: 1px solid #004098;
}

.content-wrapper .button-cta:hover {
  background-color: #B1C9E8;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

#hero {
  position: relative;
}

#hero .heroBox {
  position: absolute;
  top: 12%;
  left: 0;
  width: 50%;
  padding: 40px;
  text-align: left;
}

#hero .heroBox p {
  margin-bottom: 40px;
}

#hero .hero-img {
  width: 100%;
  margin: 0 auto 20px auto;
}

#testimonials {
  background-color: #F5F9FC;
}

#testimonialsSlider {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#testimonialsSlider .testimonial {
  display: inline-block;
  padding: 0 60px;
}

#testimonialsSlider .testimonial h3 {
  color: #004098;
}

#testimonialsSlider .testimonial blockquote {
  margin: 0;
}

#info {
  background-image: url("../../images/info.jpg");
  background-repeat: no-repeat;
  background-size: 37% 100%;
  background-position: top left;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#info .infoImg {
  display: none;
  width: 50%;
}

#info .infoIntro {
  margin-left: 50%;
  display: inline-block;
  width: 40%;
  max-height: 400px;
}

#info .infoList {
  margin-left: 50%;
  display: inline-block;
  width: 40%;
}

#howMade {
  position: relative;
}

#howMade .howMade-txt {
  margin-left: 4%;
}

#howMade .howMade-txt a {
  font-weight: 500;
}

#uses {
  background-color: #F5F9FC;
  margin-bottom: 4rem;
}

#uses .usesIntro {
  background-color: #FFFFFF;
  margin-left: 50%;
  margin-bottom: -1rem;
  padding-bottom: 4%;
}

#uses #usesSlider-text {
  width: 45%;
  float: left;
  padding: 6% 0 6% 8%;
}

#uses #usesSlider-text .use-text {
  width: 40%;
  background-color: #FFFFFF;
  padding: 4rem 10rem 10rem 4rem;
  margin: 0 auto;
}

#uses #usesSlider-imgs .use-img {
  max-width: 1280px;
}

#uses #usesSlider-imgs .use-img img {
  margin: 0;
}

#closing {
  position: relative;
  background-color: #ffffff;
  text-align: left;
  height: 100%;
}

#closing .closing-img {
  width: 50%;
  float: left;
}

#closing .closingBox {
  width: 42%;
  float: right;
}

#closing .closingBox p {
  margin: 40px 0;
}

#closing .closingBox .button-cta {
  padding-left: 12%;
  padding-right: 12%;
}

@media only screen and (max-width: 599px) {
  .content-wrapper .slick-list {
    margin-left: 0;
  }
  #info .infoImg {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  #info .infoIntro {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #info .infoList {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}



/*# sourceMappingURL=styles.css.map */
