@media only screen and (max-width: 599px) {
  // .cms-page-view .column.main p {
  //   margin: 0 auto 10px auto;
  // }
  .content-wrapper {
    .slick-list {
      margin-left: 0;
    }
  }
  #info {
    .infoImg {
      order: 2;
    }
    .infoIntro {
      order: 1;
    }
    .infoList {
      order: 3;
    }
  } // info
} // Mobile - everything smaller than 599

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .content-wrapper {

  } // content wrapper
} // min 650 to max 1024 - Tablet

// @media only screen and (min-width: 830px) and (max-width: 1024px) {
//   .hero {
//     .hero-text {
//
//     } // hero-text
//   } // hero
// } // min 830 to max 1024 - Tablet exceptions
// @media only screen and (min-width: 380px) and (max-width: 500px) {
// } // min 376 to max 424 - Mobile exceptions
