// ovo Colors:
// main blue = $blue700
$iconBlue: #DCE6F2;
$bkgrndBlue: #F5F9FC;

.content-wrapper {
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  h3 {
    font-size: 2.6rem;
    font-weight: 400;
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  h5 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .button-cta {
    background-color: $blue700;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 14px;
    border: 1px solid $blue700;

    &:hover {
      background-color: $blue400;
    }
  }
}
#hero {
  .heroBox {
    position: absolute;
    top: 12%;
    left: 0;
    width: 45%;
    padding: 40px;
    text-align: left;

    .hero-heading {
      width: 50%;
      margin: 0 auto 20px auto;
    }
    p {
      margin-bottom: 40px;
    }
  } // heroBox
  .hero-img {

  } // hero-img
} // hero
#testimonialsSlider {

  background-color: $bkgrndBlue;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  // display: flex;
  // flex-wrap: nowrap;
  // justify-content: center;

  .testimonial {
    display: inline-block;
    // width: 500px !important;
    padding: 0 60px;

    h3 {
      color: $blue700;
    }
    blockquote {
      margin: 0;
    }
  }
} // testimonials Slider
#info {
  background-image: url('../../images/info.jpg');
  background-repeat: no-repeat;
  background-size: 37% 100%;
  background-position: top left;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .infoImg {
    display: none;
    width: 50%;
  }
  .infoIntro {
    margin-left: 50%;
    display: inline-block;
    width: 40%;
    max-height: 400px;
  } // infoIntro
  .infoList {
    margin-left: 50%;
    display: inline-block;
    width: 40%;
  }
} // info
#howMade {
  position: relative;


} // howMade
#uses {
  background-color: $bkgrndBlue;
  margin-bottom: 4rem;

  .usesIntro {
    // width: 60%;
    background-color: #FFFFFF;
    margin-left: 50%;
    margin-bottom: -1rem;
    padding-bottom: 4%;
  }
  #usesSlider-text {
    width: 45%;
    float: left;
    padding: 6% 0 6% 8%;

    .use-text {
      width: 40%;
      background-color: #FFFFFF;
      padding: 4rem 10rem 10rem 4rem;
      margin: 0 auto;

    }
  } // usesSlider-text
  #usesSlider-imgs {
    .use-img {
      max-width: 1280px;

      img {
        margin: 0;
      }
    }
  } // usesSlider-imgs
} // uses
#closing {
  text-align: left;

  .closing-img {
    width: 50%;
    float: left;
  }
  .closingBox {
    width: 50%;
    float: right;
  }
} // closing
