// ovo Colors:
// main blue = $blue700
$iconBlue: #DCE6F2;
$bkgrndBlue: #F5F9FC;

.content-wrapper {
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  h3 {
    font-size: 2.6rem;
    font-weight: 400;
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  h5 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .button-cta {
    background-color: $blue700;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 14px;
    border: 1px solid $blue700;

    &:hover {
      background-color: $blue400;
    }
  }
  .clearfix {
    @include clearfix;
  }
}
#hero {
  position: relative;

  .heroBox {
    position: absolute;
    top: 12%;
    left: 0;
    width: 50%;
    padding: 40px;
    text-align: left;

    .heroBox-title {
      // width: 50%;
    }
    p {
      padding-right: 10%;
      margin-bottom: 40px;
    }
    img {
      margin: -80px -60px 0 0;
      float: right;
      width: 100px;
    }
  } // heroBox
  .hero-img {
    width: 100%;
    margin: 0 auto 20px auto;
  } // hero-img
} // hero
#testimonials {
  background-color: $bkgrndBlue;
}
#testimonialsSlider {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  .testimonial {
    display: inline-block;
    padding: 0 60px;

    h3 {
      color: $blue700;
    }
    img {
      width: 150px;
      margin: 0 auto;
    }
    blockquote {
      margin: 0;
    }
  }
} // testimonials Slider
#info {
  background-image: url('../../images/ingredient.jpg');
  background-repeat: no-repeat;
  background-size: 40% 100%;
  background-position: top left;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .infoImg {
    display: none;
    width: 50%;
  }
  .infoTitle {
    width: 50%;
    margin: 0 auto;
  }
  .infoIntro {
    margin-left: 50%;
    display: inline-block;
    width: 40%;
    max-height: 400px;
  } // infoIntro
  .infoList {
    margin-left: 47%;
    display: inline-block;
    width: 40%;

    ul {
      list-style-type: none;
    }
    li {
      background-image: url('../../images/bullet.svg');
      background-size: 20px;
      background-position: 0 6px ;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

  } // infoList
} // info
#howMade {
  position: relative;
  .howMade-img {
    position: relative;
    padding-top: 4rem;
  }
  .howMade-txt {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 4%;

    .howMade-title {
      width: 46%;
    }
    a {
      font-weight: 600;
    }
  } // howMade-txt

} // howMade
#uses {
  background-color: $bkgrndBlue;
  margin-bottom: 4rem;
  position: relative;

  .uses-title {
    background-color: #FFFFFF;
    float: left;
    width: 40%;
    display: inline-block;

    img {
      max-height: 92px;
    }
  }
  .usesIntro {
    display: inline-block;
    width: 60%;
    background-color: #FFFFFF;
    // margin-left: 50%;
    // margin-bottom: -1rem;
    padding-left: 6%;
    padding-bottom: 3%;
  }
  #usesSlider-text {
    clear: both;
    width: 45%;
    float: left;
    padding: 6% 0 6% 8%;

    .use-text {
      width: 40%;
      background-color: #FFFFFF;
      padding: 4rem 10rem 10rem 4rem;
      margin: 0 auto;

    }
  } // usesSlider-text
  #usesSlider-imgs {
    .use-img {
      max-width: 1280px;

      img {
        margin: 0;
      }
    }
  } // usesSlider-imgs
} // uses
#closing {
  // clear: both;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  height: 100%;

  .closing-img {
    width: 50%;
    float: left;
  }
  .closingBox {
    width: 50%;
    float: right;

    .closingBox-title {
      width: 50%;
    }
    p {
      max-width: 450px;
      margin: 40px 0;
    }
    .button-cta {
      padding-left: 12%;
      padding-right: 12%;
    }
  } // closingBox
} // closing
