/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #FFFFFF;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 60px;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 50px;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 18px;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.content-wrapper li {
  font-size: 16px;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -18px;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-prev:before, .content-wrapper .slick-next:before {
  color: none;
}

.content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper h2 {
  font-size: 2rem;
}

.content-wrapper h3 {
  font-size: 3rem;
  font-weight: 400;
}

.content-wrapper h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.content-wrapper h5 {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.content-wrapper .button-cta {
  font-size: 1.4rem;
  background-color: #004098;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid #004098;
}

.content-wrapper .button-cta:hover {
  background-color: #B1C9E8;
}

.content-wrapper blockquote {
  font-size: 2rem;
}

.content-wrapper .clearfix {
  display: block;
}

.content-wrapper .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .content-wrapper .clearfix {
  height: 1px;
}

#hero {
  position: relative;
}

#hero .hero-img {
  width: 100%;
  margin: 0 auto 20px auto;
}

#hero .heroBox {
  position: absolute;
  top: 12%;
  left: 0;
  width: 50%;
  padding: 40px;
  text-align: left;
}

#hero .heroBox .heroBox-title {
  margin-top: 4rem;
  margin-left: -8rem;
}

#hero .heroBox h2 {
  margin-top: 0;
  font-weight: 400;
  text-transform: uppercase;
}

#hero .heroBox p {
  padding-right: 10%;
  margin-bottom: 4rem;
}

#hero .heroBox .badge {
  margin: -2rem 1rem 0 0;
  float: right;
  width: 104px;
}

#testimonials {
  background-color: #F5F9FC;
  background-image: url("../../images/white-icon.svg");
  background-repeat: repeat;
  background-size: 48px;
  padding: 3rem 0;
  margin-bottom: 4rem;
}

#testimonialsSlider {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#testimonialsSlider .slick-prev {
  left: -10px;
}

#testimonialsSlider .slick-next {
  right: -10px;
}

#testimonialsSlider .testimonial {
  display: inline;
  padding: 20px 60px;
}

#testimonialsSlider .testimonial h3 {
  font-size: 2.3rem;
  color: #004098;
}

#testimonialsSlider .testimonial img {
  width: 150px;
  margin: 0 auto 20px auto;
}

#testimonialsSlider .testimonial blockquote {
  font-size: 1.7rem;
  margin: 0;
  text-align: center;
}

#info {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#info .infoTitle {
  width: 50%;
  margin-left: 32%;
  z-index: 100;
}

#info .infoImg {
  margin-top: -8rem;
  display: inline-block;
  width: 50%;
  z-index: 1;
}

#info .infoIntro {
  position: absolute;
  top: 100px;
  right: 10rem;
  width: 40%;
}

#info .infoList {
  position: absolute;
  top: 300px;
  right: 8rem;
  width: 45%;
}

#info .infoList ul {
  list-style-type: none;
}

#info .infoList li {
  background-image: url("../../images/bullet.svg");
  background-size: 20px;
  background-position: 0 6px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#howMade {
  position: relative;
  margin: 6rem 0;
}

#howMade .howMade-img {
  position: relative;
  padding-top: 4rem;
}

#howMade .howMade-txt {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 4%;
}

#howMade .howMade-txt .howMade-title {
  width: 46%;
}

#howMade .howMade-txt a {
  font-weight: 600;
}

#uses {
  margin-bottom: 6rem;
  position: relative;
}

#uses .uses-title {
  background-color: #FFFFFF;
  float: left;
  width: 40%;
  display: inline-block;
}

#uses .uses-title img {
  max-height: 92px;
}

#uses .usesIntro {
  display: inline-block;
  width: 60%;
  font-weight: 300;
  padding-left: 6%;
  padding-bottom: 2%;
}

#uses .usesIntro h3 {
  font-weight: 300;
}

#uses #usesSlider-imgs {
  width: 52%;
  float: right;
}

#uses #usesSlider-imgs .use-img {
  max-width: 800px;
  overflow: hidden;
}

#uses #usesSlider-imgs .use-img img {
  margin: 0;
}

#uses #usesSlider-text {
  background-color: #DCE6F2;
  background-image: url("../../images/blue-icon.svg");
  background-position: 2% -0.5%;
  background-repeat: repeat;
  background-size: 48px;
  width: 47%;
  max-height: 502px;
  padding: 6% 0 6% 8%;
}

#uses #usesSlider-text .use-text {
  width: 52%;
  background-color: #FFFFFF;
  padding: 4rem 2rem 10rem 4rem;
  min-height: 336px;
}

#uses #usesSlider-text .slick-arrow {
  margin-top: 140px;
}

#uses #usesSlider-text .slick-prev {
  left: 88px;
}

#uses #usesSlider-text .slick-dots {
  bottom: 84px;
  width: 80%;
  margin-left: -7px;
}

#uses #usesSlider-text .slick-dots li button:before {
  font-size: 4rem;
  color: #004098;
}

#closing {
  position: relative;
  background-color: #ffffff;
  text-align: left;
  height: 100%;
}

#closing .closing-img {
  width: 50%;
  float: left;
}

#closing .closingBox {
  width: 50%;
  float: right;
}

#closing .closingBox .closingBox-title {
  width: 50%;
}

#closing .closingBox p {
  max-width: 450px;
  margin: 40px 0;
}

#closing .closingBox .button-cta {
  padding-left: 12%;
  padding-right: 12%;
}

@media only screen and (max-width: 799px) {
  .content-wrapper .slick-list {
    margin-left: 0;
  }
  #hero .hero-img {
    margin-bottom: 0;
  }
  #hero .heroBox {
    top: 34%;
    width: 100%;
    padding: 0 0 0 4%;
  }
  #hero .heroBox .heroBox-title {
    margin: 0 0 0 -14%;
    width: 120%;
  }
  #hero .heroBox h2 {
    margin-top: -1rem;
    margin-bottom: 1.6rem;
  }
  #hero .heroBox p {
    margin-bottom: 1.6rem;
  }
  #hero .heroBox .badge {
    position: absolute;
    top: -8rem;
    left: 2rem;
  }
  #info {
    flex-direction: column;
  }
  #info .infoImg {
    display: block;
    width: 100%;
    margin-top: 0;
    order: 2;
  }
  #info .infoTitle {
    width: 100%;
    margin: 0 auto;
  }
  #info .infoIntro {
    position: relative;
    top: unset;
    right: unset;
    margin-left: initial;
    margin-bottom: 2rem;
    padding: 0 4%;
    width: 100%;
    order: 1;
  }
  #info .infoList {
    position: relative;
    top: unset;
    right: unset;
    margin-left: initial;
    margin-top: 0;
    padding: 0;
    width: 100%;
    order: 3;
  }
  #howMade .howMade-img {
    padding-top: 8rem;
  }
  #howMade .howMade-txt .howMade-title {
    width: 100%;
    margin-left: -2%;
  }
  #uses {
    margin-bottom: 0;
  }
  #uses .uses-title {
    width: 100%;
  }
  #uses .usesIntro {
    width: 96%;
  }
  #uses #usesSlider-imgs {
    width: 100%;
    float: none;
  }
  #uses #usesSlider-text {
    width: 100%;
    padding: 0 0 4rem 0;
  }
  #uses #usesSlider-text .use-text {
    width: 100%;
    padding-bottom: 0;
    padding-right: 2%;
  }
  #uses #usesSlider-text .slick-arrow {
    margin-top: 104px;
  }
  #uses #usesSlider-text .slick-prev {
    left: 0;
  }
  #uses #usesSlider-text .slick-dots {
    bottom: 60px;
    margin-left: 42px;
  }
  #closing .closing-img {
    width: 100%;
  }
  #closing .closingBox {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  #closing .closingBox .closingBox-title {
    width: 100%;
  }
  #closing .closingBox p {
    max-width: none;
    margin: 3rem auto;
    padding: 0;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  #hero .heroBox .heroBox-title {
    margin-top: 8rem;
  }
  #hero .heroBox h2 {
    line-height: 1.5;
  }
  #hero .heroBox p {
    line-height: 1.5;
  }
  #hero .heroBox .badge {
    position: relative;
    margin: 4rem 8rem 0 0;
    width: 120px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  #hero .heroBox .heroBox-title {
    margin-top: 1rem;
  }
  #hero .heroBox p {
    margin-bottom: 2rem !important;
  }
  #uses #usesSlider-text {
    padding-top: 2.6rem;
    padding-bottom: 1.4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
