/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0 auto;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #fff;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 60px;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 50px;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 18px;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.content-wrapper li {
  font-size: 16px;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -18px;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-arrow {
  background: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.content-wrapper {
  /* Go from zero to full opacity */
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  position: relative;
}

.hero .heroBox {
  position: absolute;
  top: 12%;
  left: 0;
  width: 45%;
  padding: 40px;
  text-align: center;
}

.hero .heroBox .hero-heading {
  width: 50%;
  margin: 0 auto 20px auto;
}

.hero .heroBox p {
  margin-bottom: 40px;
}

.hero .heroBox .hero-cta {
  text-transform: uppercase;
  padding: 10px 14px;
  border: 1px solid #9E9E9E;
}

.hero .heroBox .hero-cta:hover {
  background-color: #004098;
  color: #fff;
}

.info {
  position: relative;
}

.info .infoBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  padding-right: 6%;
  text-align: left;
}

.info .infoBox .infoHeading-img {
  float: left;
  margin-left: -80px;
  height: 270px;
  z-index: 1;
}

.info .infoBox .infoBox-txt {
  width: 75%;
  float: right;
  margin-top: 20px;
}

.info .infoBox .infoBox-txt .infoCallout {
  margin-top: 20px;
  border-top: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
  z-index: 99;
}

.info .infoBox .infoBox-txt .infoCallout img {
  display: inline-block;
  width: 30px;
}

.info .infoBox .infoBox-txt .infoCallout p {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin: 10px 0;
}

.howMade {
  position: relative;
}

.howMade .howMade-heading {
  margin: 0 auto;
  width: 50%;
}

.howMade .steps-img {
  width: 50%;
  float: right;
}

.howMade .steps-txt {
  margin-left: 8%;
  width: 40%;
  float: left;
  text-align: left;
}

.howMade .steps-txt .step {
  width: 70%;
}

.howMade .steps-txt .step .stepsDivider {
  width: 48px;
  margin: 20px auto;
}

.howMade .howMade-blog {
  float: left;
  margin-left: 8%;
  margin-top: 40px;
}

.howMade .howMade-blog p {
  text-transform: uppercase;
}

.howMade .howMade-blog p a:hover {
  color: #004098;
}

.uses .swabs .swabsBox {
  float: right;
  text-align: left;
}

.regimen {
  text-align: center;
}

.regimen .theRegimen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.regimen .theRegimen .reg {
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
